.heroSection {
    background-image: url('/images/hero_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.heroSection h1 {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.heroSection h4 {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.appointmentBtn, .servicesBtn {
    padding: 15px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.appointmentBtn {
    background-color: #d1bea8;
    color: black;
    border: 3px transparent solid;
}

.servicesBtn {
    background-color: transparent;
    color: white;
    border: 3px white solid;
}

@media (min-width: 768px) {
    .heroSection h4 {
        font-size: 24px;
    }

    .appointmentBtn, .servicesBtn {
        padding: 20px 30px;
        font-size: 18px;
    }
}
